@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Play", sans-serif;
}
Body {
  background-color: var(--background);
  line-height: 1.5;
  overflow-y: auto;
  color: var(--foreground);
}
header {
  display: flex;
  margin: 1rem 16%;
  justify-content: space-between;
  height: 56px;
  padding: 0px 16px;
  align-items: center;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  background-color: var(--accent);
  color: var(--accent-foreground);
  box-shadow: var(--shadow-md);
}
.logo_text {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
#theme_toggle{
  height: 2rem;
  padding: 4px;
  border-radius: var(--radius);
  font-size: 16px;
  font-weight: 700;
  outline: none;
  background-color: var(--input);
  position: relative;
  cursor: pointer;
}

main {
  width: 100%;
  margin: 4% 0 auto;
  display: flex;
  padding: 0 16px;
  position: relative;
}
.section {
  width: 576px;
  display: none;
  background-color: var(--card);
  border: 1px solid var(--border);
  margin: auto;
  box-shadow: var(--shadow-md);
  padding: calc(var(--spacing) * 6);
  border-radius: calc(var(--radius) + 4px);
  color: var(--card-foreground);
}
.active {
  display: block;
}
.start_page form {
  display: flex;
  flex-direction: column;
}
#quiz_form {
  display: flex;
  gap: calc(var(--spacing) * 4);
}
.quiz_form_title {
  margin: 0px auto 24px auto;
  color: var(--card-foreground);
  font-weight: 700px;
}
.btn {
  background-color: var(--primary);
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid var(--border);
  border-radius: calc(var(--radius) - 2px);
  font-size: 20px;
  padding: 8px 12px;
  color: var(--primary-foreground);
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: var(--shadow-md);
  margin-top: 8px;
}
.btn:hover {
  opacity: 0.85;
}

.btn:active {
  scale: calc(1.04);
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: all !important;
}
.form_control {
  width: 100%;
  height: 3rem;
  margin-top: calc(var(--spacing) * 3);
  font-size: 18px;
  font-weight: 700;
  padding: 4px 12px;
  border: 1px solid var(--border);
  border-radius: calc(var(--radius) - 2px);
  box-shadow: var(--shadow);
  background-color: var(--input);
  color: var(--popover-foreground);
}
.form_control:focus {
  border: 2px solid var(--ring);
  outline: 2px solid var(--ring);
}

.question_amount_wrapper {
  display: flex;
  justify-content: space-between;
}

.question_amount_range {
  margin-top: calc(var(--spacing) * 3);
  background-color: transparent;
  border: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 16px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border: 1px solid var(--border);
  border-radius: 16px;
}

.question_amount_range:focus {
  border: none;
  outline: none;
}

.question_amount_range::-webkit-slider-runnable-track {
  height: 16px;
  background-color: var(--secondary);
  border-radius: 10px;
}

.question_amount_range::-moz-range-track {
  height: 16px;
  background-color: var(--secondary);
  border-radius: 10px;
}

.question_amount_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: var(--card);
  border: 2px solid var(--primary);
  border-radius: 50%;
  box-shadow: -407px 0 0 400px var(--primary);
}

.difficulty_input_group {
  display: flex;
  height: 3rem;
  margin-top: calc(var(--spacing) * 3);
  font-size: 18px;
  font-weight: 700;
  height: 100%;
  background-color: var(--input);
  border-radius: var(--radius);
  border: 1px solid var(--border);
  overflow: hidden;
  box-shadow: var(--shadow);
}

.difficulty_input_group > label {
  flex: 1;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--border);
  cursor: pointer;
}

.difficulty_input_group > label:last-child {
  border-right: none;
}
.difficulty_input_group > input:checked + label {
  /* padding: 1rem; */
  background-color: var(--accent);
}

.question_count_loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 24px;
}
.question_count_info_container {
  width: 100%;
  color: var(--muted-foreground);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
.question_count_progress_bar {
  border: 1px dashed var(--border);
  width: 100%;
  height: 16px;
  background-color: var(--secondary);
  border-radius: 10px;
  padding: 2px;
}
progress::-webkit-progress-bar {
  background-color: var(--secondary);
  border-radius: 10px;
}
progress::-webkit-progress-value {
  background-color: var(--primary);
  border-radius: 10px;
}
progress::-moz-progress-bar {
  background-color: var(--primary);
  border-radius: 10px;
}

#question_text {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--primary);
}
.option_bucket {
  display: flex;
  margin-top: 24px;
  flex-direction: column;
  gap: 8px;
}
.option_btn {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 16px;
  cursor: pointer;
  border: 1px solid var(--border);
  background-color: transparent;
  color: var(--popover-foreground);
}

.option_text {
  font-weight: 18px;
  font-weight: 700;
}
.option_btn:not(:disabled):hover {
  background-color: var(--accent);
  color: var(--accent-foreground);
}
.option_btn:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
.option_no {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--popover);
  color: var(--popover-foreground);
  border-radius: 8px;
  font-weight: 18px;
  font-weight: 400;
  border: 1px solid var(--border);
}
.option_selected {
  background-color: var(--muted);
  color: var(--muted-foreground);
}
.correct_option_btn {
  border: 1px solid var(--success-border-green);
  background-color: var(--success-green);
  color: var(--success-green-forground);
}
.correct_option_no {
  background-color: var(--success-border-green);
  border-color: var(--success-border-green);
}
.wrong_option_btn {
  border: 1px solid var(--wrong-border-red);
  background-color: var(--wrong-red);
  color: var(--success-green-forground);
}
.wrong_option_no {
  background-color: var(--wrong-border-red);
  border-color: var(--wrong-border-red);
}

.question_footer {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pass_question_btn{
  background-color: var(--secondary);
  color: var(--secondary-foreground);
}

.result_info_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.result_logo_container {
  display: flex;
  flex-direction: column;
}
.result_message_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result_message_container .main_message {
  font-size: 32px;
  font-weight: 600;
  color: var(--card-foreground);
}
.result_message_container .sub_message {
  font-size: 16px;
  color: var(--muted-foreground);
}
.result_logo {
  height: 100px;
  aspect-ratio: 1;
}
.result_score_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.circuler_score_indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
}
.innerCircle {
  width: 120px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--card);
}

.score_info_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.achived_score {
  font-size: 32px;
  font-weight: 600;
  color: var(--card-foreground);
}
.out_of_score {
  color: var(--muted-foreground);
}
.score_percentage {
  font-size: 20px;
  font-weight: 600;
}
.loading_page {
  display: none;
  min-width: 380px;
  justify-content: center;
  margin: auto;
}
.loading_page_active {
  display: flex;
}
.loader {
  color: var(--primary);
  display: inline-block;
  position: relative;
  font-size: 32px;
  font-weight: 700;
  box-sizing: border-box;
}
.loader::after {
  content: "";
  width: 5px;
  height: 5px;
  background: currentColor;
  position: absolute;
  bottom: 10px;
  right: -5px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow:
      10px 0 rgba(255, 255, 255, 0),
      20px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow:
      10px 0 var(--primary),
      20px 0 rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow:
      10px 0 var(--primary),
      20px 0 var(--primary);
  }
}

@media (max-width: 420px) {
  main {
    margin-top: 8%;
  }
  .section {
    width: 620px;
  }
  header {
    margin: 1rem 1rem;
  }
  .question_footer{
    flex-direction: column;
  }
}
