:root {
  --background: #fff9ef;
  --foreground: oklch(0.3277 0.0337 56.7692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2746 0.0265 56.8966);
  --popover: oklch(0.9766 0.0215 88.9181);
  --popover-foreground: oklch(0.2746 0.0265 56.8966);
  --primary: oklch(0.7469 0.1536 65.4346);
  --primary-foreground: oklch(0.2746 0.0265 56.8966);
  --secondary: oklch(0.8717 0.0555 157.2576);
  --secondary-foreground: oklch(0.388 0.0896 151.5831);
  --muted: oklch(0.9307 0.018 73.0671);
  --muted-foreground: oklch(0.5576 0.0222 57.8064);
  --accent: oklch(0.8363 0.0833 305.1479);
  --accent-foreground: oklch(0.3174 0.1091 301.0933);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.4237 0.0317 57.2745);
  --input: oklch(0.9766 0.0215 88.9181);
  --ring: oklch(0.7469 0.1536 65.4346);
  --success-green: oklch(0.8717 0.0555 157.2576);
  --success-green-forground: oklch(14.5% 0 0);
  --success-border-green: oklch(0.388 0.0896 151.5831);
  --wrong-red: oklch(63.575% 0.20881 25.397 / 0.297);
  --wrong-border-red: oklch(63.575% 0.20881 25.397);
  --radius: 1.5rem;
  --shadow-2xs: 0px 4px 10px 2px hsl(25 30% 10% / 0.05);
  --shadow-xs: 0px 4px 10px 2px hsl(25 30% 10% / 0.05);
  --shadow-sm:
    0px 4px 10px 2px hsl(25 30% 10% / 0.1),
    0px 1px 2px 1px hsl(25 30% 10% / 0.1);
  --shadow:
    0px 4px 10px 2px hsl(25 30% 10% / 0.1),
    0px 1px 2px 1px hsl(25 30% 10% / 0.1);
  --shadow-md:
    0px 4px 10px 2px hsl(25 30% 10% / 0.1),
    0px 2px 4px 1px hsl(25 30% 10% / 0.1);
  --shadow-lg:
    0px 4px 10px 2px hsl(25 30% 10% / 0.1),
    0px 4px 6px 1px hsl(25 30% 10% / 0.1);
  --shadow-xl:
    0px 4px 10px 2px hsl(25 30% 10% / 0.1),
    0px 8px 10px 1px hsl(25 30% 10% / 0.1);
  --shadow-2xl: 0px 4px 10px 2px hsl(25 30% 10% / 0.25);
  --tracking-normal: 0.02em;
  --spacing: 0.25rem;
}
.theme1{
  --background: oklch(0.9578 0.0058 264.5321);
  --foreground: oklch(0.4355 0.0430 279.3250);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.4355 0.0430 279.3250);
  --popover: oklch(0.8575 0.0145 268.4756);
  --popover-foreground: oklch(0.4355 0.0430 279.3250);
  --primary: oklch(0.5547 0.2503 297.0156);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8575 0.0145 268.4756);
  --secondary-foreground: oklch(0.4355 0.0430 279.3250);
  --muted: oklch(0.9060 0.0117 264.5071);
  --muted-foreground: oklch(0.5471 0.0343 279.0837);
  --accent: oklch(0.6820 0.1448 235.3822);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.5505 0.2155 19.8095);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8083 0.0174 271.1982);
  --input: oklch(0.8575 0.0145 268.4756);
  --ring: oklch(0.5547 0.2503 297.0156);
  --radius: 0.35rem;
  --shadow-2xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow-md: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
  --shadow-lg: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
  --shadow-xl: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 6px 0px hsl(240 30% 25% / 0.30);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}
.theme2{
  --background: oklch(0.9821 0 0);
  --foreground: oklch(0.2435 0 0);
  --card: oklch(0.9911 0 0);
  --card-foreground: oklch(0.2435 0 0);
  --popover: oklch(0.9911 0 0);
  --popover-foreground: oklch(0.2435 0 0);
  --primary: oklch(0.4341 0.0392 41.9938);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9200 0.0651 74.3695);
  --secondary-foreground: oklch(0.3499 0.0685 40.8288);
  --muted: oklch(0.9521 0 0);
  --muted-foreground: oklch(0.5032 0 0);
  --accent: oklch(0.9310 0 0);
  --accent-foreground: oklch(0.2435 0 0);
  --destructive: oklch(0.6271 0.1936 33.3390);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8822 0 0);
  --input: oklch(0.8822 0 0);
  --ring: oklch(0.4341 0.0392 41.9938);
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}